#!/usr/bin/env bash

export NVM_DIR="$HOME/.nvm"
  [ -s "/usr/local/opt/nvm/nvm.sh" ] && . "/usr/local/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && . "/usr/local/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# Add home directory to PATH
export PATH=$PATH:~/

# set GOROOT with go installed by homebrew
export GOROOT="/usr/local/opt/go/libexec"

# Add Latex commands into PATH
export PATH="/usr/local/texlive/2017/bin/x86_64-darwin:$PATH"

# Add mysql@5.7
export PATH="/usr/local/opt/mysql@5.7/bin:$PATH"
# Prefer brew installed bison
export PATH="/usr/local/opt/bison/bin:$PATH"
# Prefer brew installed bison
export PATH="$HOME/go/bin:$PATH"

# Add protoc into PATH
export PATH="$HOME/protoc/bin:$PATH"

# Add frp into the PATH
export PATH="$HOME/frp:$PATH"

# Add nginx into the PATH
export PATH="$PATH:/usr/local/nginx/sbin"

# Configure pyenv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
if command -v pyenv 1>/dev/null 2>&1; then
  eval "$(pyenv init -)"
fi

# Use the v3 api for cli `etcdctl`
export ETCDCTL_API=3

export NODE_PATH="$NODE_PATH:$(yarn global dir)/node_modules"
